apipkg==1.5
atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
coverage==4.5.4
execnet==1.7.0
idna==2.8
importlib-metadata==0.19
more-itertools==7.2.0
packaging==19.1
pep8==1.7.1
pluggy==0.12.0
py==1.10.0
pyparsing==2.4.2
pytest==5.0.1
pytest-cache==1.0
pytest-cov==2.7.1
pytest-pep8==1.0.6
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
urllib3==1.26.5
wcwidth==0.1.7
zipp==0.5.2
